body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#world-map {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#region-info {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
